html {
  font-size: 10px;
  height: max-content;
  margin: 0;
  padding: 0;
}

body {
  height: max-content;
  margin: 0;
  padding: 0;
}

.container {
  background-image: url("../img/main-background-img.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: 40px;
  height: 100%;
  padding: 20;
}

.slogan-space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
}

.slogan-light {
  font-size: 20px;
  color: #606060;
  font-weight: 200;
  margin: 0px 0px 0px 0px;
}

.slogan-bold {
  font-size: 20px;
  color: #606060;
  font-weight: 500;
  margin: 0px 0px 0px 0px;
}

.explain {
  font-size: 10px;
  color: #606060;
  font-weight: 200;
  margin: 0px 0px 0px 0px;
}

.contents {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0px 100px 0px;
}

#order-button {
  width: 80%;
  height: 70px;

  background-color: rgba(233, 233, 233, 0.6);
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);

  font-size: 20px;
  color: #606060;

  border: 0px;
  border-radius: 20px;

  margin-bottom: 10px;
  padding: 20px 20px 20px 20px;
}

.order-list-space {
  width: 70%;

  background-color: rgba(233, 233, 233, 0.6);
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);

  border: 0px;
  border-radius: 20px;

  margin-top: 10px;
  padding: 20px 20px 10px 20px;
}

.order-list-tag {
  font-size: 13px;
  color: #606060;
  margin-bottom: 10px;
}

.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #c0c0c0;
}

.user-profile-pic-space {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;

  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
  margin: 10px 10px 10px 0px;
}

.user-profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-preview-space {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
}

.user-name-space {
  margin: 5px 5px 5px 5px;
}

.user-name {
  font-size: 17px;
  color: #606060;
  font-weight: 500;
  margin: 0;
}

.order-preview {
  margin: 5px 5px 5px 5px;
}

.order-menu,
.order-place,
.order-tip {
  font-size: 13px;
  color: #606060;
  font-weight: 200;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: fixed;
  bottom: 0;

  width: 100%;
  height: 70px;
  border-radius: 50px 50px 0px 0px;

  background-color: black;
}

.menu-button {
  width: 10%;
}
