html {
    height: 100vh;
    font-size: 10px;
  }
  
  body {
    height: 100vh;
  }
  
  #main-container {
    height: 100%;
    margin: 0px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #mypage-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: top;
  }
  
  #center-area {
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  /* top-title-area 시작 */
  #top-title-area {
    width: 100%;
    margin: 30px 0px;
    border-bottom: 2px solid #a7a7a7;
    display: flex;
    justify-content: space-between;
  }
  
  .top-title p {
    margin: 20px;
    font-size: 2rem;
    color: #707070;
  }
  
  .top-white-space {
    width: 45px;
    height: 60px;
  }
  /* top-title-area 끝 */
  
#center-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: none;
    background-color: #e7e7e7;
    box-shadow: 0px 3px 6px #0000003f;
    margin-bottom: 20px;
  }
#img-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#input-file{
    display: none;
}
#profile-img{
    border-radius: 1000px;
}
#input_file_label_img{
    display: flex;
    width: 200px;
}