* {
  color: #707070;
}

html {
  height: 100vh;
  font-size: 10px;
}

body {
  height: 100vh;
}

#main-container {
  height: 100%;
  margin: 0px 36px;
  display: flex;
  justify-content: center;
}

#order-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#center-area {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}

/* top-title-area 시작 */
#top-title-area {
  width: 100%;
  margin: 30px 0px;
  border-bottom: 2px solid #a7a7a7;
  display: flex;
  justify-content: space-between;
}

.top-title p {
  margin: 20px;
  font-size: 2rem;
  color: #707070;
}

.top-white-space {
  width: 45px;
  height: 60px;
}
/* top-title-area 끝 */

/* 중앙 컨테이너 시작 */
#middle-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#center-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  background-color: #e7e7e7;
  box-shadow: 0px 3px 6px #0000003f;
  margin-bottom: -40px;
}

.content-container {
  flex: 1;
  margin: 40px 30px 30px;
}

.item {
  display: flex;
  margin-bottom: 15px;
}

.item p {
  font-size: 1.2rem;
}

.middle-title {
  font-weight: bold;
  margin-right: 7px;
}

.description {
  font-size: 2rem;
  font-weight: bold;
  color: #707070;
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

.name-info {
  font-size: 2rem;
  margin-bottom: 30px;
}

.white-space {
  width: 288px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin: 0px;
}

/* 중앙 컨테이너 끝 */

/* 하단 영역 시작 */
#bottom-area {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#bottom-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 3px 6px #0000003f;
  margin-bottom: 20px;
  flex: 1;
}

#bottom-container > div {
  width: 100%;
  flex: 1;
  display: flex;
  margin: 10px 0px 0px;
}

.bottom-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 30px 0px;
}

#profile-area {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-container {
  position: relative;
  overflow: hidden;
  border-radius: 1000px;
  box-shadow: 0px 3px 6px #0000003f;
  width: 75px;
  height: 75px;
}

.profile-image {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

#delivery-man-info {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#delivery-man-info:last-child {
  font-size: 1.2rem;
}
/* 하단 영역 끝 */

/* 주문 폼 시작 */
#order-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px;
}

#order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  margin-bottom: 25px;
}

.input-container p {
  font-size: 1.2rem;
  color: #707070;
}

.input-box {
  border: none;
  font-size: 1.2rem;
  margin-left: 10px;
  flex: 1;
  background-color: #e7e7e7;
}

.input-box:focus {
  outline: none;
}

/* 버튼 영역 시작 */

#button-area {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0px 24px 15px;
}

.big-button {
  height: 40px;
  width: 150px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 3px 6px #0000003f;
  font-size: 1.2rem;
  color: #707070;
  z-index: 10;
}

.blue {
  background-color: #a7b3ff;
}

.gray {
  background-color: #ececec;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

#button-button-area {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-bottom: 40px;
}
/* 버튼 영역 끝 */

/* 주문 폼 끝 */

/* footer 시작 */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: fixed;
  bottom: 0;

  width: 100%;
  height: 70px;
  border-radius: 50px 50px 0px 0px;

  background-color: white;
}

.menu-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-img {
  width: 70%;
}
/* footer 끝 */
