html {
  font-size: 10px;
  height: max-content;
  margin: 0;
  padding: 0;
}

body {
  height: max-content;
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 40px 40px 40px 40px;
}

#top-title-area {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 2px solid #a7a7a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  align-items: center;
}

.top-title p {
  margin: 20px;
  font-size: 2rem;
  color: #707070;
  font-weight: 400;
}

.top-right-space {
  visibility: hidden;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.activated-tab-button {
  width: 47%;
  text-align: center;

  background-color: #a7b3ff;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.3);

  border: 0px;
  border-radius: 70px;

  color: #606060;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 10px 10px 10px;
}

.button-space {
  width: 4%;
}

.deactivated-tab-button {
  width: 47%;
  text-align: center;

  background-color: #eeeeee;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.3);

  border: 0px;
  border-radius: 70px;

  color: #606060;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 10px 10px 10px;
}

.order-list-space {
  width: 100%;
}

.order-space {
  width: 100%;

  background-color: rgba(233, 233, 233, 0.6);
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);

  border: 0px;
  border-radius: 20px;

  margin-top: 10px;
}

.order-space2 {
  padding: 10px 20px 10px 20px;
}

.order-list-tag {
  font-size: 13px;
  color: #606060;
  margin-bottom: 10px;
}

.order {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.now-delivering {
  color: #a7b3ff;
  border: 1px solid #a7b3ff;
  border-radius: 10px 10px 10px 10px;
  padding: 0px 3px 0px 3px;
}

.wait-deliver {
  color: black;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  padding: 0px 3px 0px 3px;
}

.is-delivered {
  color: #606060;
  border: 1px solid #606060;
  border-radius: 10px 10px 10px 10px;
  padding: 0px 3px 0px 3px;
}

.user-profile-pic-space {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;

  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);
  margin: 10px 10px 10px 0px;
}

.user-profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-preview-space {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
}

.order-preview {
  margin: 5px 5px 5px 5px;
}

.order-menu,
.order-place,
.order-tip {
  font-size: 13px;
  color: #606060;
  font-weight: 200;
  margin: 0;
}

/* footer 시작 */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-radius: 50px 50px 0px 0px;
  background-color: white;
}

.menu-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-img {
  width: 70%;
}
/* footer 끝 */
