html {
  height: 100vh;
  font-size: 10px;
}

body {
  height: 100vh;
}

#main-container {
  height: 100%;
  margin: 0px 36px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 로고 영역 시작 */
#logo-area {
  width: 172px;
  height: 90px;
}

.white-space {
  margin-bottom: 50px;
}
/* 로고 영역 끝 */

/* 로그인 폼 시작 */
#login-form {
  width: 100%;
  margin: 50px 0px;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 7px;
  border: 2px solid #a7a7a7;
  margin-bottom: 15px;
}

.icon-area {
  width: 33px;
  border-right: 2px solid #a7a7a7;
  margin-right: 8px;
  display: flex;
  justify-content: center;
}

.icon-area img {
  width: 12px;
  height: 15px;
}

.input-box {
  border: none;
  font-size: 1.2rem;
}

/* 버튼 영역 시작 */

#button-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.big-button {
  height: 35px;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 3px 6px #0000003f;
  font-size: 1.2rem;
  color: #707070;
  flex: 1;
}

.blue {
  background-color: #a7b3ff;
  margin-right: 10px;
}

.gray {
  background-color: #ececec;
}
/* 버튼 영역 끝 */

/* 찾기 영역 시작 */
#sub-area {
  display: flex;
  justify-content: center;
}

.link-find {
  font-size: 1.1rem;
  text-decoration: none;
  color: #707070;
}

.border-line {
  margin: 0px 5px;
}
/* 찾기 영역 끝 */

/* 로그인 폼 끝 */
