{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/delivery.css' %}">
    <title>Detail</title>
</head>
<!-- body 시작 -->
<body>
    <!-- 메인컨테이너 시작 -->
    <div id="main-container">
        <!-- 주문 컨테이너 시작 -->
        <div id="order-container">
            <!-- top-title-area 시작 -->
            <div id="top-title-area">
                <img src="{% static 'img/back-icon.svg' %}" onclick="history.back()" alt="뒤로가기">
                <div class="top-title">
                    <p>배달 세부 사항</p>
                </div>
                <div class="top-white-space"></div>
            </div>
            <!-- top-title-area 끝 -->
            <!-- 중앙 컨테이너 시작 -->
            <div id="center-container">
                <p class="description">{{order_list.delivery_owner.nickname}} 님의 주문서</p>
                <div id="order-area">
                    <div>
                        <div class="input-container">
                            <p>배달 주소 : {{order_list.delivery_location}}</p>
                        </div>
                        <div class="input-container">
                            <p>상점 주소 : {{order_list.store_location}}</p>
                        </div>
                        <div class="input-container">
                            <p>주문 금액 : {{order_list.stuff_price}}</p>
                        </div>
                        <div class="input-container">
                            <p>배달 팁 : {{order_list.delivery_price}}</p>
                        </div>
                        <div class="input-container">
                            <p>상품 명 : {{order_list.delivery_list}}</p>
                        </div>
                        <div class="input-container">
                            <p>기타 요구 사항 : {{order_list.extra_order}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 중앙 컨테이너 끝 -->
            <!-- 주문자 본인이거나 주문이 완료된 경우 -->
            {% if order_list.delivery_owner.id == user.id or order_list.is_delivered == 2%}
                <a href="{% url 'my_order_history' user.id %}">
                    <button class="blue big-button" id="onclick_order" onclick="">확인</button>
                </a>
            {% else %}
                <a href="{% url 'start_delivery' user.id order_list.id %}">
                    <button class="blue big-button" id="onclick_order" onclick="">배달하기</button>
                </a>
            {% endif %}
        <!-- 주문하기 폼 끝 -->
            <!-- 여백 시작 -->
            <div class="white-space"></div>
            <!-- 여백 끝 -->
        </div>
        <!-- 주문 컨테이너 끝 -->
    </div>
    <!-- 메인컨테이너 끝 -->
    <script>
        document.querySelector('#onclick_order').onclick = function(e) {
            var roomName = document.querySelector('#name').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
    <!-- footer 시작 -->
    <footer>
        <a class="menu-button" href="{% url 'home' %}"><img src="{% static 'img/deactivated-main-menu-icon.svg' %}" alt="메인메뉴" class="footer-img"></a>
        <a class="menu-button" href="#"><img src="{% static 'img/deactivated-chat-menu-icon.svg' %}" alt="채팅메뉴" class="footer-img"></a>
        <a class="menu-button" href="{% url 'my_delivery_history' user.id %}"><img src="{% static 'img/activated-history-menu-icon.svg' %}" alt="주문메뉴" class="footer-img"></a>
        <a class="menu-button" href="{% url 'mypage' user.id %}"><img src="{% static 'img/deactivated-mypage-menu-icon.svg' %}" alt="마이페이지" class="footer-img"></a>
    </footer>
    <!-- footer 끝 -->
</body>
</html>