<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <div class="container">
        <div class="order-button-space">
            <button id="order-button">주문하기</button>
        </div>
        <div class="order-list-space">
            <div class="order-list-tag">배달 목록</div>
            <div class="order-list">
                <div class="order">
                    <div class="user-profile-pic-space">
                        <img class="user-profile-pic" src="#" alt="사용자 프로필 사진">
                    </div>
                    <div class="order-preview-space">
                        <div class="user-name-space">
                            <p class="user-name">{}님</p>
                        </div>
                        <div class="order-preview">
                            <p class="order-menu">배달 물건 : {}</p>
                            <p class="order-place">배달 장소 : {}</p>
                            <p class="order-tip">배달 팁 : {}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="main-menu-button">
            <img src="#" alt="메인메뉴" class="footer-img">
        </div>
        <div class="chat-menu-button">
            <img src="#" alt="채팅메뉴" class="footer-img">
        </div>
        <div class="history-menu-button">
            <img src="#" alt="주문메뉴" class="footer-img">
        </div>
        <div class="mypage-menu-button">
            <img src="#" alt="마이페이지" class="footer-img">
        </div>
    </footer>
</body>
</html>