<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="#"></script>
    <title>Main</title>
</head>
<body>
    <div class="container">
        <img src="#" alt="순부름 그림 로고" class="pic-logo">
        <div class="logo-space">
            <img src="#" alt="순부름 글자 로고" class="word-logo">
        </div>
        <div class="slogan-space">
            <p class="slogan-light">이제는</p><br>
            <p class="slogan-bold">효율적으로</p><br>
            <p class="slogan-light">움직이자!</p><br>
            <p class="explain">필요한 물건을 언제든지<br>주고받는 순천향 심부름 커뮤니티</p>
        </div>
        <div class="order-button-space">
            <a href="{% url 'order' user.id %}"><button id="order-button">주문하기</button></a>
        </div>
        <div class="order-list-space">
            <div class="order-list-tag">배달 목록</div>
            <div class="order-list">
                {% for order in order_list %}
                <div class="order">
                    <div class="user-profile-pic-space">
                        <img class="user-profile-pic" src="#" alt="사용자 프로필 사진">
                    </div>
                    <div class="order-preview-space">
                        <div class="user-name-space">
                            <p class="user-name">{{order.owner}}님</p>
                        </div>
                        <div class="order-preview">
                            <p class="order-menu">배달 물건 : {{order.delivery_list}}</p>
                            <p class="order-place">배달 장소 : {{order.delivery_location}}</p>
                            <p class="order-tip">배달 팁 : {{order.delivery_price}}</p>
                        </div>
                        <a href="{% url 'order_delivery' order.id %}">자세히 보기</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer>
        <div class="main-menu-button">
            <img src="#" alt="메인메뉴" class="footer-img">
        </div>
        <div class="chat-menu-button">
            <img src="#" alt="채팅메뉴" class="footer-img">
        </div>
        <div class="history-menu-button">
            <a href="{% url 'my_delivery_history' user.id %}">주문메뉴</a><img src="#" alt="주문메뉴" class="footer-img">
        </div>
        <div class="mypage-menu-button">
            <img src="#" alt="마이페이지" class="footer-img">
        </div>
    </footer>
</body>
</html>