{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
    <script type="text/javascript" src="{% static 'js/history.js' %}"></script>
    <title>배달 내역</title>
</head>
<body>
    <div class="container">
        <div id="top-title-area">
            <div class="top-title">
                <p class="title">나의 주문/배달</p>
            </div>
        </div>
        <div class="contents">
            <div class="tab">
                <a href="#" class="to-order-history">
                    <button class="deactivated-tab-button">주문 내역</button>
                </a>
                <button class="activated-tab-button">배달 내역</button>
            </div>
            <div class="order-list-space">
                {% for order in order_list %}
                <div class="order-space">
                    <a class="order-space2" href="{% url 'order_delivery' order.id %}">
                        <div class="order">
                            <div class="user-profile-pic-space">
                                <div class="delivering-tag">
                                    <!-- %if%
                                    <div class="now-delivering">배달 중인 주문</div>
                                    %else%
                                    <div class="end-delivered">배달 완료</div>
                                    %endif% -->
                                </div>
                                <img class="user-profile-pic" src="{% static 'img/default-user-profile-pic.png' %}" alt="사용자 프로필 사진">
                            </div>
                            <div class="order-preview-space">
                                <div class="order-preview" >
                                    <p class="order-menu">배달 물건 : {{order.delivery_list}}</p>
                                    <p class="order-place">배달 장소 : {{order.delivery_location}}</p>
                                    <p class="order-tip">배달 팁 : {{order.delivery_price}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>