{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <title>Order</title>
</head>
<!-- body 시작 -->
<body>
    <!-- 메인컨테이너 시작 -->
    <div id="main-container">
        <!-- 주문 컨테이너 시작 -->
        <div id="order-container">
            <!-- top-title-area 시작 -->
            <div id="top-title-area">
                <img src="{% static 'img/back-icon.svg' %}" alt="뒤로가기">
                <div class="top-title">
                    <p>주문하기</p>
                </div>
                <div class="top-white-space"></div>
            </div>
            <!-- top-title-area 끝 -->
            <!-- 주문하기 폼 시작 -->
            <form id="order-form" method="POST" action="{% url 'order' user.id %}">
                <!-- 중앙 컨테이너 시작 -->
                <div id="center-container">
                    <p class="description">주문서를 작성해 주세요</p>
                    <div id="order-area">
                        {% csrf_token %}
                        <div class="input-container">
                            <p>배달 주소 : </p>
                            <input class="input-box" type="text" name="delivery_location" autocomplete="off">
                        </div>
                        <div class="input-container">
                            <p>상점 주소 : </p>
                            <input class="input-box" type="text" name="store_location" autocomplete="off">
                        </div>
                        <div class="input-container">
                            <p>주문 금액 : </p>
                            <input class="input-box" type="text" name="stuff_price" autocomplete="off">
                        </div>
                        <div class="input-container">
                            <p>배달 팁 : </p>
                            <input class="input-box" type="text" name="delivery_price" autocomplete="off">
                        </div>
                        <textarea cols="5" rows="5" placeholder="상품 명" name="delivery_list"></textarea>
                        <textarea cols="5" rows="5" placeholder="기타 요구 사항" name="extra_order"></textarea>
                    </div>
                </div>
                <!-- 중앙 컨테이너 끝 -->
                <button class="blue big-button">주문 마치기</button>
            </form>
            <!-- 주문하기 폼 끝 -->
            <!-- 여백 시작 -->
            <div class="white-space"></div>
            <!-- 여백 끝 -->
        </div>
        <!-- 주문 컨테이너 끝 -->
    </div>
    <!-- 메인컨테이너 끝 -->
</body>
</html>