<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문하기</title>
</head>
<body>
    <form method="POST" action="{% url 'order' user.id %}">
        {% csrf_token %}
        <input type="text" name="delivery_location" placeholder="상품 받을 장소">
        <input type="text" name="store_location" placeholder="가게 주소">
        <input type="text" name="delivery_price" placeholder="심부름 비용">
        <hr>
        <textarea cols="8" rows="10" placeholder="심부름 내용" name="delivery_list"></textarea>
        <textarea cols="8" rows="10" placeholder="추가 요구 사항" name="extra_order"></textarea>
        <input type="text" name="stuff_price" placeholder="물건 비용">
        <button>주문하기</button>
    </form>
</body>
</html>