html {
  height: 100vh;
  font-size: 10px;
}

body {
  height: 100vh;
}

#main-container {
  height: 100%;
  margin: 0px 36px;
  display: flex;
  justify-content: center;
}

#order-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#center-area {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}

/* top-title-area 시작 */
#top-title-area {
  width: 100%;
  margin: 30px 0px;
  border-bottom: 2px solid #a7a7a7;
  display: flex;
  justify-content: space-between;
}

.top-title p {
  margin: 20px;
  font-size: 2rem;
  color: #707070;
}

.top-white-space {
  width: 45px;
  height: 60px;
}
/* top-title-area 끝 */

/* 중앙 컨테이너 시작 */
#center-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  background-color: #e7e7e7;
  box-shadow: 0px 3px 6px #0000003f;
  margin-bottom: 20px;
}

.description {
  font-size: 2rem;
  font-weight: bold;
  color: #707070;
  margin-top: 30px;
}

.white-space {
  width: 288px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin: 0px;
}

/* 중앙 컨테이너 끝 */

/* 주문 폼 시작 */
#order-area {
  width: 100%;
}

#order-area > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px;
}

#order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  margin-bottom: 25px;
}

.input-container p {
  font-size: 1.2rem;
  color: #707070;
}

.input-box {
  border: none;
  font-size: 1.2rem;
  margin-left: 10px;
  flex: 1;
  background-color: #e7e7e7;
}

.input-box:focus {
  outline: none;
}

/* 버튼 영역 시작 */

#button-area {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0px 24px 15px;
}

.big-button {
  height: 40px;
  width: 150px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 3px 6px #0000003f;
  font-size: 1.2rem;
  color: #707070;
}

.blue {
  background-color: #a7b3ff;
}

.gray {
  background-color: #ececec;
}
/* 버튼 영역 끝 */

/* 주문 폼 끝 */
