{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>login</title>
</head>
<!-- body 시작 -->
<body>
    <!-- 메인 컨테이너 시작 -->
    <div id="main-container">
        <!-- 로그인 컨테이너 시작 -->
        <div id="login-container">
            <!-- 로고 영역 시작 -->
            <div id="logo-area">
                <img src="{% static 'image/logo.svg' %}" alt="로고">
            </div>
            <!-- 로고 영역 끝 -->
            <!-- 로그인 폼 시작 -->
            <form id="login-form" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="item">
                    <div class="icon-area">
                        <img src="{% static 'image/id.svg' %}" alt="ID">
                    </div>
                    <div class="input-area">
                        <input class="input-box" type="text" name="nickname" placeholder="ID"required>
                    </div>
                </div>
                <div class="item">
                    <div class="icon-area">
                        <img src="{% static 'image/password.svg' %}" alt="ID">
                    </div>
                    <div class="input-area">
                        <input class="input-box" type="password" name="password" placeholder="비밀번호" />                    </div>
                </div>
                <div id="button-area">
                    <button class="blue big-button">로그인</button>
                    <button class="gray big-button" type="button" onclick="location.href='/signup/'">회원가입</button>
                    
                    
                </div>
                {% if 'error' %}
                    <p>{{error}}</p>
                {% endif %}
                <!-- 찾기 영역 시작 -->
                <div id="sub-area">
                    <a class="link-find" href="{% url 'find_id' %}">ID 찾기</a>
                    <span class="border-line">/</span>
                    <a class="link-find" href="{% url 'find_password' %}">비밀번호 찾기</a>
                </div>
                <!-- 찾기 영역 끝 -->
            </form>
            <!-- 로그인 폼 끝 -->
            <!-- 여백 시작 -->
            <div id="logo-area" class="white-space">
            </div>
            <!-- 여백 끝 -->
        </div>
        <!-- 로그인 컨테이너 끝 -->
    </div>
    <!-- 메인 컨테이너 끝 -->
</body>
<!-- body 끝 -->
</html>