<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div id="container">
        <div id="loginBox">
            <h1>Login</h1>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input class="inputBox" type="text" name="username" placeholder="아이디를 입력하세요." required><br>
                <input class="inputBox" type="password" name="password" placeholder="패스워드를 입력하세요." required>
                <button id="loginButton">로그인</button>
                <p>{{error}}</p>
            </form>
            <a href="#">아이디 찾기</a>
            <a href="#">비밀번호 찾기</a>
        </div>
    </div>
</body>
</html>