{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
    <script type="text/javascript" src="{% static 'js/history.js' %}"></script>
    <title>배달 내역</title>
</head>
<body>
    <div class="container">
        <div id="top-title-area">
            <a href="{% url 'home' %}" class="back-button">
                <img src="{% static 'img/back-icon.svg' %}" alt="뒤로가기">
            </a>
            <div class="top-title">
                <p class="title">나의 주문/배달</p>
            </div>
            <div class="top-right-space">
                <img src="{% static 'img/back-icon.svg' %}">
            </div>
        </div>
        <div class="contents">
            <div class="tab">
                <div class="activated-tab-button">주문 내역</div>
                <div class="button-space"></div>
                <a href="{% url 'my_delivery_history' user.id %}" class="deactivated-tab-button">배달 내역</a>
            </div>
            <div class="order-list-space">
                {% for order in order_history %}
                <div class="order-space">
                    <div class="order-space2">
                        <a class="order" href="{% url 'order_delivery' order.id %}">
                            <div class="left-space">
                                <div class="delivering-tag">
                                    {% if order.is_delivered == 1 %}
                                    <div class="now-delivering">배달 중인 주문</div>
                                    {% elif order.is_delivered == 0 %}
                                    <div class="wait-deliver">대기 중인 주문</div>
                                    {% else %}
                                    <div class="is-delivered">배달 완료</div>
                                    {% endif %}
                                </div>
                                <div class="user-profile-pic-space">
                                    <img class="user-profile-pic" src="{% static 'img/default-user-profile-pic.png' %}" alt="사용자 프로필 사진">
                                </div>
                            </div>
                            <div class="order-preview-space">
                                <div class="order-preview" >
                                    <p class="order-menu">배달 물건 : {{order.delivery_list}}</p>
                                    <p class="order-place">배달 장소 : {{order.delivery_location}}</p>
                                    <p class="order-tip">배달 팁 : {{order.delivery_price}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- footer 시작 -->
    <footer>
        <a class="menu-button" href="{% url 'home' %}"><img src="{% static 'img/deactivated-main-menu-icon.svg' %}" alt="메인메뉴" class="footer-img"></a>
        <a class="menu-button" href="#"><img src="{% static 'img/deactivated-chat-menu-icon.svg' %}" alt="채팅메뉴" class="footer-img"></a>
        <a class="menu-button" href="{% url 'my_delivery_history' user.id %}"><img src="{% static 'img/activated-history-menu-icon.svg' %}" alt="주문메뉴" class="footer-img"></a>
        <a class="menu-button" href="{% url 'mypage' user.id %}"><img src="{% static 'img/deactivated-mypage-menu-icon.svg' %}" alt="마이페이지" class="footer-img"></a>
    </footer>
    <!-- footer 끝 -->
</body>
</html>