{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <title>마이프로필</title>
</head>
<body>
    <div id="main-container">
        <div id="mypage-container">
            <div id="top-title-area">
                <img src="{% static 'img/back-icon.svg' %}" onclick="history.back()" alt="뒤로가기">
                <div class="top-title">
                    <p>마이 프로필</p>
                </div>
                <div class="top-white-space"></div>
            </div>
            <p class="change_image_buttons"><label for='change_image_button'>프로필 사진 변경 </label>/<label for='change_password_button'> 비밀번호 변경</label></p>
            <div id="img-div">
                {% if details.image %}
                <label for='change_img'><p><img id="profile-img" src="{{ details.image.url }}" width="200" height="200" alt="없음"></p></label>
                {% endif %}
            </div>
            <div id="center-container">
                <form action="{% url 'mypage' details.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><input type="file" name="image" id="change_img"></p>
                    <button name="change_image" id="change_image_button">변경</button>
                    <p class="info"><strong>이름  </strong>{{details.nickname}}</p>
                    <p class="info"><strong>ID  </strong>{{details.username}}</p>
                    <p class="info"><strong>이메일  </strong>{{details.school_email}}</p>
                    <p class="info"><strong>현재 비밀번호 &nbsp; </strong><input type="password" name="old_password" placeholder="현재 비밀번호"></p>
                    <p class="info"><strong>새로운 비밀번호  </strong><input type="password" name="new_password" placeholder="현재 비밀번호"></p>
                    {% if error %}
                    {{error}}
                    {% endif %}
                    <button name="change_password" id="change_password_button">변경</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>