{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/delivery_detail.css' %}">
    <title>Detail</title>
</head>
<!-- body 시작 -->
<body>
    <!-- 메인컨테이너 시작 -->
    <div id="main-container">
        <!-- 주문 컨테이너 시작 -->
        <div id="order-container">
            <!-- top-title-area 시작 -->
            <div id="top-title-area">
                <img src="{% static 'img/back-icon.svg' %}" onclick="history.back()" alt="뒤로가기">
                <div class="top-title">
                    <p>나의 주문</p>
                </div>
                <div class="top-white-space"></div>
            </div>
            <!-- top-title-area 끝 -->
            <!-- 중앙 영역 시작 -->
            <div id=middle-area>
                <div class="blue big-button center-align">
                    <p class="bold">주문 상세사항</p>
                </div>
                <!-- 중앙 컨테이너 시작 -->
                <div id="center-container">
                    <div class="content-container">
                        <!-- 배달이 도착했을 경우 -->
                        {% if details.is_delivered == 2 %}
                        <p>배달이 {{time}}분만에 도착했습니다.</p>
                        {% endif %}
                        <div class="bold name-info">
                            <p>{{details.delivery_man.nickname}}님이</p>
                            <p>{{details.delivery_owner.nickname}}님께 배달중!</p>
                        </div>
                        
                        <div class="item">
                            <p class="middle-title">주문 상품 : </p>
                            <p>{{details.delivery_list}}</p>
                        </div>
                        <div class="item">
                            <p class="middle-title">주문 일시 : </p>
                            <p>{{details.ordered_time}}</p>
                        </div>
                        <div class="item">
                            <p class="middle-title">배달 주소 : </p>
                            <p>{{details.delivery_location}}</p>
                        </div>
                        <div class="item">
                            <p class="middle-title">요구 사항 : </p>
                            <p>{{details.extra_order}}</p>
                        </div>
                    </div>
                </div>
                <!-- 중앙 컨테이너 끝 -->
            </div>
            <!-- 중앙 영역 끝 -->
            <!-- 하단 영역 시작 -->
            <div id="bottom-area">
                <div id="bottom-container">
                    <div>
                        <div class="bottom-content-container">
                            <div class="bold name-info">
                                <p>명예의 배달기사,</p>
                                <p>{{details.delivery_man.nickname}}님!</p>
                            </div>
                            <div id="profile-area">
                                {% if details.delivery_man.image %}
                                    <div class="profile-container">
                                        <img class="profile-image" src="{{ details.delivery_man.image.url }}" alt="">
                                    </div>
                                {% else %}
                                    <div class="profile-container">
                                        <img class="profile-image" src="{% static 'img/default-user-profile-pic.png' %}" alt="">
                                    </div>
                                {% endif %}
                            </div>
                            <div id="delivery-man-info">
                                <p class="middle-title">아이디 </p>
                                <p>{{details.delivery_man.username}}</p>
                            </div>
                            <div id="button-button-area">
                                {% if details.is_delivered == 1 %}
                                    <!-- <a href="{% url 'finish_order' details.id %}">
                                        <button class="blue big-button">배달 완료 수락하기</button>
                                    </a> -->
                                {% else %}
                                    <p>배달 완료된 주문입니다.</p>
                                {% endif %}
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- 하단 영역 끝 -->
        </div>
        <!-- 주문 컨테이너 끝 -->
    </div>
    <!-- 메인컨테이너 끝 -->
    <!-- footer 시작 -->
    <footer>
        <a class="menu-button" href="{% url 'home' %}"><img src="{% static 'img/deactivated-main-menu-icon.svg' %}" alt="메인메뉴" class="footer-img"></a>
        <a class="menu-button" href="#"><img src="{% static 'img/deactivated-chat-menu-icon.svg' %}" alt="채팅메뉴" class="footer-img"></a>
        <a class="menu-button" href="{% url 'my_delivery_history' user.id %}"><img src="{% static 'img/activated-history-menu-icon.svg' %}" alt="주문메뉴" class="footer-img"></a>
        <a class="menu-button" href="{% url 'mypage' user.id %}"><img src="{% static 'img/deactivated-mypage-menu-icon.svg' %}" alt="마이페이지" class="footer-img"></a>
    </footer>
    <!-- footer 끝 -->
</body>
</html>