<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="register-page">
        <div class="form">
            <form action="submit" class="register">
                <input type="text" placeholder="별명" />
                <input type="text" placeholder="아이디" />
                <input type="password" placeholder="비밀번호" />
                <input type="password" placeholder="비밀번호 확인" />
                <input type="text" placeholder="학과명" />
                <input type="number" placeholder="학번" />
                <input type="email" placeholder="학교 이메일 주소" />
                <input type="number" placeholder="인증번호" />
                <button>회원가입</button>
            </form>
        </div>
    </div>
</body>
</html>